.productCards {
  display: inline-flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 25%;
  align-items: center;
  justify-content: center;
}

.links{
  cursor: pointer;
}

#categoryTitle {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
}